/* global typography */
body {
    background-color: #dcdcdc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #313131;
    font-size: 1.25em;
}


/* flexbox layout */
html, body {
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    height: 8em;
    background-color: red;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
main {
    flex: auto;
    max-width: 90%;
    margin: auto;
}
footer {
    height: 8em;
    background-color: red;
    text-align: right;
}

table, thead {
    border: 3px solid black;
    border-collapse: collapse;
}

tbody {
    border: solid 1px black;
}
